.filterChartList {
    -fx-background-color: #ececec;
    -fx-border-width: 1px;
    -fx-border-color: #d5d5d5;
    -fx-border-radius: 5px;
}
.filterChartLabel {
    -fx-font-size: 16px;
}
.chartTitle {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.aside {
    -fx-background-color: #dbf3ff;
}