* {
    -fx-font-family: 'Inter 24pt';
    -fx-font-smoothing-type: "gray";
}
.AppTitle {
    -fx-font-size: 25;
    -fx-fill: "white";
    -fx-font-family: 'Inter 24pt Black';
}
.switch {
    -fx-padding: 0;
}
.search {
    -fx-background-color: linear-gradient(to bottom right, #a3d6fd, #7bcaff);
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.headerContainer {
    -fx-background-color: #c0e3ff;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}