* {
    -fx-font-family: 'Inter 24pt';
    -fx-font-smoothing-type: "gray";
}
.root {
    -fx-accent: #0093ff;
}
.text {
    -fx-font-weight: regular;
}
.AppTitle {
    -fx-font-size: 30;
    -fx-fill: "white";
    -fx-font-family: 'Inter 24pt Black';
}
.switch {
    -fx-padding: 0;
}
.search {
    -fx-background-color: linear-gradient(to bottom right, #a3d6fd, #7bcaff);
    -fx-font-size: 16;
}
.filterToggle .thumb-area {
    -fx-background-color: #ff9143;
}
.filterToggle:selected .thumb-area {
    -fx-background-color: #37b5e3;
}

.filtersHeader {
    -fx-font-size: 26;
    -fx-font-weight: 600;
}
.filterLabel {
    -fx-font-size: 17;
}
.headerContainer {
    -fx-background-color: #c0e3ff;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.settings_button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.footerContainer {
    -fx-background-color: #84a8ff;
}
.evalButton {
    -fx-font-size: 16;
}
.dirChooseLabel {
    -fx-border-radius: 10;
    -fx-border-color: #9f9f9f;
    -fx-background-color: #d2d2d2;
}

.dataStatusLabel {
    -fx-font-size: 14;
    -fx-text-fill: white;
}